<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.png" %>
			<% end %>
		</div>

  <ul>
    <li class="catogory">Website</li>
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>

  <ul>
    <liclass="catogory"> Contact </li>
    <li><a href="https://www.facebook.com/artur.petrosyan.37" target="_blank"> Facebook </a></li>
    <li><a href="https://www.linkedin.com/in/artur-petrosyan-1887a3ba" target="_blank"> LinkedIn </a></li>
    <li><a href="https://github.com/Arto13" target="_blank"> Github </a></li>
    <li><a href="mailto:a.petrosyan@live.nl"> E-mail </a></li>
  </ul>


<% if user_signed_in? %>
  <div class="buttons" style="float: right">
    <div class="log">
    <button class="button"><%= link_to "New Post", new_post_path%></button><br>
    <br>
    <button class="button"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
  </div>
  </div>
  <% end %>


<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert") %>
<% end %>


  <% if !user_signed_in? %>
  <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
  <% end %>
</div>

<div id="main_content">


  <%= yield %>
</div>


</body>
</html>
